body, html {
  height: 100%;
  background-color: rgb(233, 231, 217);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica';
}

/* Main Page */
#index-page {
  overflow: hidden;
}

/* -------------MAIN PAGE----------------------------------------- */

/* To eikonio tou menu */
#dropdownMenuButton {
  width: 50%;
  height: auto;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  margin-top: -150px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  align-items: center;
  gap: 10px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
}

@media screen and (min-width: 601px) {
  #dropdownMenuButton:hover + .dropdown-menu, .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
  }
}

/* CLOTHES */

.dropdown-menu a {
  display: block;
  width: 40%;
  max-width: 650px; /* Ensure it scales properly */
}

/* Menu Images */
#image0, #image1, #image2, #image3 {
  height: auto;
  width: 120px;
  padding-left: 44px;
}

/* Icons animation */
.dropdown-icon {
  transition: transform 0.5s ease;
}

/* Hover images */
@media screen and (min-width: 601px) {
.dropdown-icon:hover {
  transform: translateX(10px);
}
}

#clothes-page {
  overflow: hidden;
}

#images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  width: 70%;
  margin: auto;
  padding: 5px;
  height: 580px; 
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll; 
}


.product {
width: 100%; 
height: auto;
transition: transform 0.3s ease;

}


#exoskeleton-page .product-image {
  cursor: zoom-in;
}

.product-image {
  /* cursor: zoom-in; */
width: 100%; 
max-width: 300px; 
height: auto; 
object-fit: cover; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
transition: transform 0.3s ease; 
}


/* Image hover effect */
.product:hover {
  transform: scale(1.02); 
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevents background from moving */
}